#btns {
    position: relative;
    width: 75%;
    border: solid 2px;
    padding:5px;
    background-color: powderblue;
}

.btn {
 height: 48px;
    font-size: 24px;
    width: 32%;
    margin:3px;
    background-color: #18ffff;

    ;
    
}